/.quarto/
**/*.quarto_ipynb
/_book*/
/site_libs/
/auto_figs/
/auto_riscv/
/25_scripts/out_verifica_laboratoris/
*.aux
*.log
Estructura-de-computadors.tex
*.toc
*_files/*
*.html
*.tex
!preamble.tex
*.pdf