/*-- scss:defaults --*/

/*-- scss:rules --*/

      /* -callout-note */
.callout-note > .callout-header .callout-icon::before { /* Amaga la icona per defecte */
  display: none;
}

.callout-note > .callout-header::before {
  font-family: "bootstrap-icons";
  content: "\f2D6";                                     /* Bootstrap icon unicode https://icons.getbootstrap.com/ 2D6 CPU; */
}

.callout-note > .callout-header::before {               /* Color de l'icona. Els colors dels callouts estan definits a custom_light.scss i a custom_dark.scss*/
  color: #198754;
}

      /* -callout-warning */
.callout-warning > .callout-header .callout-icon::before {
  display: none;
}

.callout-warning > .callout-header::before {
  font-family: "bootstrap-icons";
  content: "\f308";                                     /* 32E envelope-open ; 308 door-open; */
}

.callout-warning > .callout-header::before {
  color: #8e44ad;
}

      /* -callout-caution */
.callout-caution > .callout-header .callout-icon::before {
  display: none;
}

.callout-caution > .callout-header::before {
  font-family: "bootstrap-icons";
  content: "\f26B";                                     /* 26B check-circle; 271 check2-square; */
}

.callout-caution > .callout-header::before {
  color: #c0392b;
}