/*-- scss:defaults --*/
// "pre-processing" layer. Quarto injects its content before the
//   Bootstrap theme is built. Overwriting the default settings

// | Callout Type | Icon | Light Mode (Default) | Dark Mode (Equivalent) |
// |---|---|---|---|
// | Note (Blue)      | `i`          | #0d6efd | #375a7f |
// | Tip (Green)      | bulb light   | #198754 | #4bbd7c |
// | Warning (Yellow) | `!` triangle | #ffc107 | #f39c12 |
// | Important (Red)  | `!` circle   | #dc3545 | #e74c3c |
// | Caution (Orange) | cone         | #fd7e14 | #e67e22 |
$callout-color-note: #198754;
$callout-color-tip: #ebca11;
$callout-color-caution: #c0392b;
$callout-color-warning: #8e44ad;
$callout-color-important: #0539f6;

/*-- scss:rules --*/
// "post-processing" layer. Anything here is treated as standard CSS
//   and loaded after everything else.
.navbar {
  min-height: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*-- scss:mixins --*/



/*-- scss:functions --*/



/*-- scss:uses --*/