/*-- scss:defaults --*/

/*-- scss:rules --*/

/* Canvi d'icones. Atenció: només surten negre en `light` i blanc en `dark`*/
.callout-note > .callout-header .callout-icon::before { /* hide the original icon first*/
  display: none;
}

.callout-note > .callout-header::before {
  font-family: "bootstrap-icons";
  content: "\f2D6";                                     /* Bootstrap icon unicode https://icons.getbootstrap.com/ 2D6 CPU; */
}

.callout-warning > .callout-header .callout-icon::before {
  display: none;
}

.callout-warning > .callout-header::before {
  font-family: "bootstrap-icons";
  content: "\f308";                                     /* 32E envelope-open ; 308 door-open; */
}

.callout-caution > .callout-header .callout-icon::before {
  display: none;
}

.callout-caution > .callout-header::before {
  font-family: "bootstrap-icons";
  content: "\f26B";                                     /* 26B check-circle; 271 check2-square; */
}

