.quarto-figure {
  text-align: center;   /* Centre els captions respecte la figura */
  margin: auto;         /* Centra la figura respecte l'amplada del text*/
}

.quarto-float-tbl {
  text-align: center;   /* Igual que per les figures*/
  margin: auto;         /* Igual que per les figures*/
}

/* Mermaid width relative to space */
/*   It does not solve the empty spaces above and below the .svg figures `height="480"` */
/*   Commented out because moved back to .png
/* pre.mermaid svg,
.cell-output-display svg {
  width: 100% !important;
  height: auto !important;
} */

.taula-vores td,
.taula-vores th {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.table-borderless td {                  /* Reducció de l'espaiat vertical a les taules borderless (sigles.qmd) */
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}